.cmain {
    background-color: #FF4545;
    border-radius: 10px;
    width: 320px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.btn {
    color: black;
    background-color: white;
    border: none;
    padding: 20px;
    margin: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.btn:active {
    transform: scale(0.95);
}

.counter-highlight {
    font-size: 50px;
}
